:root {
    --main-accent-color: #c80000;
    --main-gray-color: #666;
    --main-lightgray-color: #ccc;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    color: #fff;
}

.header__title-container {
    background-color: var(--main-accent-color);
    padding: 15px;
    display: flex;
    align-items: flex-end;
}

.header__title {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
} 

.header__subtitle {
    margin-left: 10px;
    font-weight: bold;
}

.header__theme-container {
    background-color: var(--main-gray-color);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.header__theme-title-franchise {
    font-style: italic;
    font-size: 1.1rem;
}

.cart-main {
    width: 75%;
    margin: 15px auto;
}
.cart-main__promo-aside {
    position: fixed;
    top: 10rem;
    left: 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    background-color: var(--main-accent-color);
    border-radius: 0 10px 10px 0;
    color: white;
    padding: 15px 10px; 
    font-weight: bold;
    max-height: 100vh;
    overflow-y: auto; 
}

.cart-main__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__delivery-options {
    padding: 10px;
    border-bottom: 1px solid #ccbcbc;
}

.inputs__left,
.inputs__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputs__fieldset {
    line-height: 1.3;
}

.inputs__fieldset-legends {
    font-size: 1.2rem;
    font-weight: 700;
    color: grey;
    margin-bottom: 17px;
}

.fieldset__row-input {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.row-input__choice-inputs {}

.row-input__label {}

.fieldset__column-input {
    display: flex;
    flex-direction: column;
}

.column-input_label {}

.column-input_text-input {}

.form__total-amount {}

.total-amount__label {}

.total-amount__price {}

.form__buttons-container {}

.buttons-container__button {}

.buttons-container__button--regular {}

.buttons-container__button--submit {}

.footer {
    background-color: var(--main-gray-color);
    padding: 15px;
    color: #fff;
    text-align: center;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .cart-main {
        width: 90%;
    }

    .inputs__left,
    .inputs__right {
        gap: 15px;
    }

    .fieldset__column-input,
    .fieldset__row-input {
        width: 100%;
    }
}

